<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenuMatch</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>

    <!-- navbar code-->
    <header>
        <h2 class="logo">MenuMatch</h2>
        <nav class="navigation">
            <a href="home.html">Home</a>
            <a href="about.html">About Us</a>
            <a href="contact.html">Contact Us</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>

    <!-- Login and Register-->
    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close-circle"></ion-icon></span>

        <!--Login-->
        <div class="form-box login">
            <h2>Login</h2>
            <form action="checkLogin.php">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn" onclick="login_submit_click_handler">Login</button>
                <div class="login-register">  
                    <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
                </div>
            
            </form>
        </div>

        <!--Register code-->
        <div class="form-box register">
            <h2>Registration</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">I agree to the terms & conditions </label>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                </div>
            
            </form>
        </div>
    </div>

    <!--restaurant finder code-->
    <section id="home" class="home">
        <h1>Welcome to MenuMatch</h1>
        <p>Looking to grab a quick bite on campus?</p>
        <p>MenuMatch can help you find a restaurant based on what you want to eat!</p>

        <div class="search-form">
            <form action="form-handler.php" method="post">
                <input type="text" name="name" placeholder="Enter your Name" required>
                <input type="email" name="email" placeholder="Enter Email Address" required>
                <input type="password" name="password" placeholder="Enter your Password" required>
                <div class="dropdown">
                    <button onclick="dropdown()" class="dropbtn">Allergen</button>
                    <div id="dropdown-content" class="dropdown-content">
                        <label><input type="checkbox" value="peanut">Nuts</label>
                        <label><input type="checkbox" value="gluten">Gluten</label>
                        <label><input type="checkbox" value="dairy">Dairy</label>
                        <label><input type="checkbox" value="eggs">Eggs</label>
                        <label><input type="checkbox" value="soy">Soy</label>
                        <label><input type="checkbox" value="shellfish">Shellfish</label>
                        <label><input type="checkbox" value="beef">Beef</label>
                        <label><input type="checkbox" value="wine">Wine</label>
                        <label><input type="checkbox" value="fish">Fish</label>
                    </div>
                </div>
                <div class="ftype">
                    <button onclick="fooddropdown()" class="fooddropbtn">Food Type</button> 
                    <div id="foodtype-content" class="fooddropdown-content">
                        <label>Italian</label>
                        <label>Chinese</label>
                        <label>Mexican</label>
                        <label>American</label>
                        <label>Japanese</label>
                        <label>Indian</label>
                        <label>Thai</label>
                        <label>French</label>
                        <label>Sushi</label>
                        <label>Vegetarian</label>
                        <label>Steakhouse</label>
                        <label>Seafood</label>
                        <label>Greek</label>
                        <label>Korean</label>
                        <label>Barbecue</label>
                        <label>Fusion</label>

                    </div>
                </div>
                
                <button type="submit" class="send-btn">Submit</button>

            </form>
        </div>
        <!--
        <div class="search-container">
        <form>
            <input type="text" id="search" placeholder="Search Food...">
            <button type="button" id="submit" class="search-btn">Search</button>
        </form>
        <div id="results"></div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><span class="icon"><ion-icon name="filter"></ion-icon></span></button>
            <div class="dropdown-content">
              <label><input type="checkbox" value="peanut"> Nuts</label>
              <label><input type="checkbox" value="gluten"> Gluten</label>
              <label><input type="checkbox" value="dairy"> Dairy</label>
              <label><input type="checkbox" value="dairy"> Eggs</label>
              <label><input type="checkbox" value="dairy"> Soy</label>
              <label><input type="checkbox" value="dairy"> Shellfish</label>
              <label><input type="checkbox" value="dairy"> Beef</label>
              <label><input type="checkbox" value="dairy"> Wine</label>
              <label><input type="checkbox" value="dairy"> Fish</label>

            </div>
          </div>
          -->
    </section>

    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>