<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    th{ 
        cursor: pointer;
        color:#fff;
            }
</style>

<!--labels at the top of the table-->
<table class="table table-striped">
    <tr  class="bg-info">
        <th>ID</th>
        <th>Menu Item</th>
        <th>Allergen</th>
        <th>Cook Time</th>
        <th>Food Type</th>
        <th>Restaurant ID</th>
        <th>Restaurant ID</th>
        <th>Restaurant Name</th>
        <th>Address</th>
        <th>Distance in Miles</th>
        <th>Restaurant Type</th>
        <th>Average Price Score</th>
        <th>Restaurant Rating</th>
    </tr>
<!--idk why he had this but it doesn't work without it so-->
    <tbody id="myTable">
        
    </tbody>
</table>

<script type="text/javascript" src="../js/script.js"></script>

</html>
